<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAccount</servlet-name>
        <servlet-class>NewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomer</servlet-name>
        <servlet-class>NewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Withdraw</servlet-name>
        <servlet-class>Withdraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deposit</servlet-name>
        <servlet-class>Deposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>Transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseAccount</servlet-name>
        <servlet-class>CloseAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCustomer</servlet-name>
        <servlet-class>RemoveCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loan</servlet-name>
        <servlet-class>Loan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLoan</servlet-name>
        <servlet-class>GetLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoanInfo</servlet-name>
        <servlet-class>LoanInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistory</servlet-name>
        <servlet-class>TransactionHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAccount</servlet-name>
        <url-pattern>/NewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomer</servlet-name>
        <url-pattern>/NewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Withdraw</servlet-name>
        <url-pattern>/Withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deposit</servlet-name>
        <url-pattern>/Deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseAccount</servlet-name>
        <url-pattern>/CloseAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCustomer</servlet-name>
        <url-pattern>/RemoveCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loan</servlet-name>
        <url-pattern>/Loan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLoan</servlet-name>
        <url-pattern>/GetLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoanInfo</servlet-name>
        <url-pattern>/LoanInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistory</servlet-name>
        <url-pattern>/TransactionHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
